/* --- ar-cookies-policy --- */
.cookies-policy{
position:relative;
overflow:hidden;
max-height:10em;
border-radius:3px;
background:#222;
color:#fff;
font-size:0.9em;
transition:all 0.5s ease;

    &.agreed{
    max-height:0;
    }
}
.cookies-policy .cp-in{
padding:0.5em;
text-align:center;
}
.cookies-policy .cp-in .cp-info{
display:inline-block;
margin:0 1em 0.5em 1em;
}
.cookies-policy .cp-in .cp-btn{
margin:0 1em;
font-size:0.9em;
cursor:pointer;
}

/* fixed right-bottom */
.cookies-policy.frb{
position: fixed;
right: 10px;
bottom: 10px;
z-index: 1000;
max-height: none;
width: 320px;
max-width: 80%;

    &.agreed{
    opacity:0;
    visibility:0;
    }
}
.cookies-policy.frb .cp-in{
padding:1em;
text-align:left;
}
.cookies-policy.frb .cp-in .cp-info{
margin:0 0 15px 0;
}
.cookies-policy.frb .cp-in .cp-btn{
float:right;
margin:0;
margin-bottom:1em;
}
/* --- END ra-cookies-policy --- */